@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .header {
    position: absolute !important;
  }

  .header__nav-bar {
    display: block !important;
  }

  .header__cta-btn {
    display: block !important;
  }

  .header__primary {
    display: block !important;
  }

  .header__dropdown {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }

  .container {
    max-width: 960px;
  }

  .header {
    position: absolute !important;
  }

  .header__nav-bar {
    display: block !important;
  }

  .header__cta-btn {
    display: block !important;
  }

  .header__primary {
    display: block !important;
  }

  .header__dropdown {
    display: none;
  }

  .hero__heading {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  /* Change root element font size. */
  html {
    font-size: 12px;
  }

  .container {
    max-width: 720px;
  }

  .header {
    position: absolute !important;
  }

  .header__nav-bar {
    display: block !important;
  }

  .header__cta-btn {
    display: block !important;
  }

  .header__primary {
    display: block !important;
  }

  .header__dropdown {
    display: none;
  }

  .hero__heading {
    font-size: 4rem;
  }

  .hero__text {
    font-size: 2rem;
  }

  /* Footer styling */
  .footer-secondary-wrapper {
    gap: 1rem;
  }

  .footer-secondary-wrapper > div {
    width: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  /* Header styling */

  .header__primary-wrapper {
    flex-wrap: wrap;
    border: none;
  }

  .header__primary-wrapper > div {
    padding: 0.5rem;
    width: 100%;
    border: none;
  }

  .header__socials-wrap > * {
    border: none;
  }

  .header__info {
    padding: 1rem 0;
  }

  .header__socials {
    padding: 0.5rem 0;
  }

  .header__search {
    padding: 0.5rem 0;
    margin-left: 1rem;
  }

  .header__nav-bar {
    display: none;
    width: 100%;
  }

  .header__nav-items {
    display: flex;
    flex-direction: column;
  }

  .header__cta-btn {
    display: none;
    width: 100%;
  }

  .header__primary {
    display: none;
    width: 100%;
    position: absolute;
    border: none;
    top: 68px;
    background: #56b0d2;
  }

  /* Hero styling */
  .hero__heading {
    font-size: 3rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  /* Time info section style */
  .time-info-wrapper {
    flex-direction: column;
  }

  .time-info-wrapper > div {
    width: 100%;
  }

  /* Departments section style */
  .departments__cards-primary > div {
    width: calc(50% - 1rem);
  }

  .departments__cards-secondary > div {
    width: calc(33% - 0.66rem);
  }

  /* Specialists section style */
  .specialists__card {
    width: 50%;
  }

  .clients__images {
    width: 50%;
  }

  /* Footer styles */
  .footer-secondary-wrapper {
    gap: 1rem;
  }

  .footer-secondary-wrapper > div {
    width: calc(50% - 1rem);
  }
}

/* Mobile screen breakpoint */
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 1rem 0.5rem;
  }

  .go-up {
    bottom: 120px;
  }

  .header__primary-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .header__primary-wrapper > div {
    padding: 0.5rem;
    width: 100%;
    border: none;
  }

  .header__socials-wrap > * {
    border: none;
  }

  .header__info {
    padding: 1rem 0;
  }

  .header__socials {
    padding: 1rem 0;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  .header__nav-bar {
    display: none;
    width: 100%;
  }

  .header__nav-items {
    display: flex;
    flex-direction: column;
  }

  .header__cta-btn {
    display: none;
    width: 100%;
  }

  .header__primary {
    display: none;
    width: 100%;
    position: absolute;
    border: none;
    top: 68px;
    background: #56b0d2;
  }

  /* Time section styles */
  .time-info-wrapper {
    flex-direction: column;
  }

  .time-info-wrapper > div {
    width: 100%;
  }

  /* Services section styles */
  .services {
    padding: 25px 0;
  }

  .services__cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .services__card {
    text-align: center;
    width: 75%;
  }

  /* Intro section styles */
  .intro-wrapper {
    max-width: 75%;
  }

  /* Departments section styles */
  .departments {
    padding: 25px 0;
  }

  .departments__cards-primary > div {
    width: 100%;
  }

  .departments__cards-secondary > div {
    width: calc(50% - 1rem);
  }

  /* Specialists section styles */
  .specialists {
    padding: 25px 0;
  }

  .specialists__card {
    width: 100%;
  }

  .design-block {
    display: none;
  }

  /* Contact form and news section styles */
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-wrapper > div {
    width: 100%;
    padding: 50px;
  }

  .contact__form-wrap {
    background-color: #56b0d2;
  }

  /* Client section styles */
  .clients {
    padding: 25px 0;
  }

  .clients__images {
    width: 100%;
  }

  /* Footer styles */
  .footer-secondary-wrapper {
    gap: 1rem;
  }

  .footer-secondary-wrapper > div {
    width: 100%;
  }

  .copyright-wrap {
    gap: 1rem;
  }

  .copyright__links {
    width: 100%;
  }
}
