@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  /* Show full header */
  .header__top,
  .header__cta,
  .header__nav-bar {
    display: block !important;
  }
  
  /* Hide Hamburger menu */
  .header__hamburger {
    display: none;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  /* Show full header. */
  .header__top,
  .header__cta,
  .header__nav-bar {
    display: block !important;
  }

  /* Hide hamburger menu. */
  .header__hamburger {
    display: none;
  }

  .header__logo {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {

  /* Change root element font size. */
  html {
    font-size: 12px;
  }

  .container {
    max-width: 720px;
  }

  /* Show full header */
  .header__top,
  .header__cta,
  .header__nav-bar {
    display: block !important;
  }

  /* Hide hamburger menu */
  .header__hamburger {
    display: none;
  }

  /* Footer styling */
  .footer-bottom-wrapper {
    gap: 1rem;
  }

  .footer-bottom-wrapper > div {
    width: calc(50% - 1rem);
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .container {
    max-width: 540px;
  }

  /* Header styling */
  .header__top-wrapper {
    display: flex;
    flex-wrap: wrap;
    border: none;
  }

  .header__nav-bar {
    display: none;
  }

  .header__top {
    display: none;
  }

  .header__cta {
    display: none;
  }

  .header__top-wrapper > div {
    padding: 0.5rem;
    width: 100%;
    border: none;
  }

  .header__info {
    padding: 1rem 0;
  }

  .header__socials {
    padding: 1rem 0;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  /* Time info section style */
  .time-info-wrapper {
    flex-direction: column;
  }

  .time-info-wrapper > div {
    width: 100%;
  }

  /* Departments section style */
  .departments__cards-primary > div {
    width: calc(50% - 1rem);
  }

  .departments__cards-secondary > div {
    width: calc(33% - 0.66rem);
  }

  /* Specialists section style */
  .specialists__card {
    width: 50%;
  }

  .clients__images {
    width: 50%;
  }

  /* Footer styles */
  .footer-bottom-wrapper {
    gap: 1rem;
  }

  .footer-bottom-wrapper > div {
    width: calc(50% - 1rem);
  }
}

/* Mobile screen breakpoint */
@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 1rem 0.5rem;
  }

  /* Header styles */
  .header__nav-bar {
    display: none;
  }

  .header__top {
    display: none;
  }

  .header__cta {
    display: none;
  }

  .header__top-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .header__top-wrapper > div {
    padding: 0.5rem;
    width: 100%;
    border: none;
  }

  .header__info {
    padding: 1rem 0;
  }

  .header__socials {
    padding: 1rem 0;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  /* Time section styles */
  .time-info-wrapper {
    flex-direction: column;
  }

  .time-info-wrapper > div {
    width: 100%;
  }

  /* Services section styles */
  .services {
    padding: 25px 0;
  }

  .services__cards {
    justify-content: center;
    flex-wrap: wrap;
  }

  .services__card {
    text-align: center;
    width: 75%;
  }

  /* Intro section styles */
  .intro-wrapper {
    max-width: 75%;
  }

  /* Departments section styles */
  .departments {
    padding: 25px 0;
  }

  .departments__cards-primary > div {
    width: 100%;
  }

  .departments__cards-secondary > div {
    width: calc(50% - 1rem);
  }

  /* Specialists section styles */
  .specialists {
    padding: 25px 0;
  }

  .specialists__card {
    width: 100%;
  }

  .design-block {
    display: none;
  }

  /* Contact form and news section styles */
  .contact-wrapper {
    flex-direction: column;
  }

  .contact-wrapper > div {
    width: 100%;
    padding: 50px;
  }

  .contact__form-wrap {
    background-color: #56b0d2;
  }

  /* Client section styles */
  .clients {
    padding: 25px 0;
  }

  .clients__images {
    width: 100%;
  }

  /* Footer styles */
  .footer-bottom-wrapper {
    gap: 1rem;
  }

  .footer-bottom-wrapper > div {
    width: 100%;
  }

  .copyright__links {
    max-width: 40%;
  }
}